@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Inter", sans-serif; */
.Inter-font{
  font-family: "Inter", sans-serif;
  transition: all 1s;
}
.tiro-bangla-regular {
  font-family: "Tiro Bangla", serif;
  font-weight: 400;
  font-style: normal;
}


.exo-font {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
}

.video-wrapper {
  max-width: 100%; /* Adapts to parent container */
  aspect-ratio: 16 / 9; /* Keeps the 16:9 aspect ratio */
  margin: 0 auto; /* Centers the video */
}
